<section class="view__list">
    <div class="products">
        <h2 class="products__title">Estoque</h2>
        <div class="list">
            <table class="products__list">
                <thead>
                    <tr>
                        <th class="headList">Nome</th>
                        <th class="headList">Valor</th>
                        <th class="headList">Pesagem</th>
                        <th class="headList"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each produto as |produtos|}}
                    <tr class="row">
                        <td class="rowList">{{produtos.name}}</td>
                        <td class="rowList">R$ {{produtos.price}}</td>
                        <td class="rowList">{{produtos.weight}} Kg</td>
                        {{#link-to 'edit' produtos.id}}<td class="rowList--button">Editar</td>{{/link-to}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>