.form{
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    &__label{
        width: 35%;
        height: 30px;
        padding: 10px;
        margin: 5px auto;
        color: white;
        font-weight: 600;
    }
    &__entry{
        width: 35%;
        height: 30px;
        padding: 15px;
        margin: 5px auto;
        border: 1px solid white;
        border-radius: 50px;
    }
    &__submit{
        width: 20%;
        height: 25px;
        margin: 20px auto;
        background: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 50px;
        font-weight: 600;
        transition: 0.45s;
        &:hover{
            background: rgba(189,103,109,1)
        }
    }
}