.form{
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding:20px;
    display: flex;
    flex-direction: column;
    &__entry{
        width: 35%;
        height: 30px;
        padding: 15px;
        margin: 0 auto;
        border: 1px solid white;
        border-radius: 50px;
    }
    &__submit{
        width: 15%;
        height: auto;
        padding: 10px;
        margin: 15px auto;
        background: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 50px;
        font-weight: 400;
        transition: 0.5s;

    }
    &__submit:hover{
        background: rgba(189,103,109,1)
    }
    &__label{
        width: 35%;
        height: auto;
        padding: 15px;
        margin: 0 auto;
        color: white;
        font-weight: 400;
    }
}