.navbar{
    width: 100%;
    height: 50px;
    background: #3c454c;
    color: #fefdfc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    &__list{
        padding: 12.5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        &--index{
            cursor: pointer;
            margin: 0 25px;
        }
        &--index:hover{
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: rgba(189,103,109,1);
            
        }
        &--item{
            cursor: pointer;
            margin: 0 25px;
        }
        &--item:hover{
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: rgba(189,103,109,1);
        }
    }    
}