.fa-github {
    font-size: 24px;
    transition: 0.5s;
    &.fa-github:hover{
        cursor: pointer;
        color: rgba(189,103,109,1);
    }
}

.fa-linkedin-square{
    font-size: 24px;
    transition: 0.5s;
    &.fa-linkedin-square:hover{
        cursor: pointer;
        color: rgba(189,103,109,1);
    }
}

.fa-twitter{
    // color: #25a1f2;
    transition: 0.5s;
    font-size: 24px;
    &.fa-twitter:hover{
        cursor: pointer;
        color: rgba(189,103,109,1);
    }
}
    