.view__list{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products{
    width: 70%;
    height: auto;
    margin: 10% auto;
    background: hsla(0,0%,100%,.2);
    padding: 37px 0;
    border-radius: 6px;
    box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.100);
    color: #fff;
    transition: .3s;
    -webkit-transition: all .2s ease-out;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    &.products:hover{
        transform: translateY(-5px);
    }
}

.products__title{
    text-align: center;
    padding-bottom: 10px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products__list{
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    font-weight: 600;
}

.headList{
    padding: 10px 0;
    text-align: left;
    color: rgba(189,103,109,1);
}

.row{
    height: auto;
}

.rowList{
    padding: 5px 0;
    &--button{
        text-align: center;
        padding: 5px;
        border: 1px solid white;
        border-radius: 50px;
        transition: 0.45s;
        &:hover{
            background: rgba(189,103,109,1);
        }
    }
}