<form class="form">
    <label class="form__label" for="title">Nome do Produto:</label>
    {{input class="form__entry" value=model.name name="title" id="title" type="text" placeholder="Nome do Produto" }}
    <label class="form__label" for="price">Valor do produto:</label>
    {{input class="form__entry" value=model.price name="price" id="price" type="text" placeholder="Valor do Produto" }}
    <label class="form__label" for="instock">Quantidade em Kg:</label>
    {{input class="form__entry" value=model.weight name="instock" id="instock" type="text" placeholder="Quantidade em Kg" }}
    <button class="form__submit" {{action 'save' model}}>Salvar</button>
</form>