<footer class="footer">
<span class="footer__copy">Copyright &copy; 2018 - Todos os direitos reservados.</span>
<ul class="footer__list">
    <li class="footer__list--item"><i class="fa fa-github"></i></li>
    <li class="footer__list--item"><i class="fa fa-linkedin-square"></i></li>
    <li class="footer__list--item"><i class="fa fa-twitter"></i></li>
</ul>
</footer>