<header class="navbar">
    <nav class="navbar__menu">
        <ul class="navbar__list">
            <li class="navbar__list--index">Início</li>
            <li class="navbar__list--item">Listagem</li>
            <li class="navbar__list--item">Adicionar Item</li>
        </ul>
    </nav>
</header>