<header class="navbar">
    <nav class="navbar__menu">
        <ul class="navbar__list">
            <li class="navbar__list--index">{{#link-to 'product'}}Início{{/link-to}}</li>
            <li class="navbar__list--item">{{#link-to 'new-product'}}Adicionar Item{{/link-to}}</li>
        </ul>
    </nav>
</header>